@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "colors";

@mixin elemento {
  display: flex;
  align-items: center;
  &::after {
    content: ">";
    margin-left: 10px;
  }
}

@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin button {
  border: none;
  border-radius: 5px;
  background: #f3cb4b;
  color: $black;
  padding: 15px 12px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background: #ffb400;
  }
}

@mixin card() {
  background: $white;
  padding: 20px 20px;
  border-radius: 10px;
  // width: 320px;
  //flex-basis: 350px;

  h1 {
    font-size: 1.125rem;
    font-weight: 500;
    color: $white;
    @include elemento();
  }

  .values {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-size: 2rem;
    font-weight: 600;
    color: $white;
    align-items: center;
  }
}
