@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "colors";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $gray;
  font-family: "Poppins", sans-serif;
}

main {
  background: #040d12;
  box-shadow: inset 0 -90px 0 $gray;
  @include mobile {
    box-shadow: inset 0 -60px 0 $gray;
  }
  .content {
    padding-top: 20px;
    @include container;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 30px;
    }

    .Logo {
      display: flex;
      align-items: center;
      gap: 10px;
      @include mobile {
        max-width: 30%;
        h1 {
          padding-top: 5px;
          font-size: 1.125rem;
        }
      }

      h1 {
        color: $white;
        font-size: 2.125rem;
        font-weight: 600;
        padding-top: 25px;
      }

      img {
        height: 56px;
        width: 56px;
      }
    }

    button {
      @include button;
    }
  }

  .cards {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 30px;

    .Entry {
      @include card();
      background-color: $green;
      .values {
        i {
          background-color: $green;
          background-image: url("../../img/seta.png");
          transform: rotate(90deg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 50px;
          min-width: 50px;
          border-radius: 50%;
          text-align: center;
          margin-left: 60px;
        }
      }
    }

    .Output {
      @include card();
      background-color: $red;

      .values {
        i {
          background-color: $red;
          background-image: url("../../img/seta.png");
          transform: rotate(270deg);
          background-repeat: no-repeat;
          background-position: center;
          min-height: 50px;
          min-width: 50px;
          border-radius: 50%;
          text-align: center;
          margin-left: 60px;
        }
      }
    }

    .Total {
      @include card();
      background-color: $cian;
      align-items: center;
      .values {
        i {
          background-color: $cian;
          background-image: url("../../img/carteira.png");
          background-repeat: no-repeat;
          background-position: center;
          min-height: 50px;
          min-width: 50px;
          border-radius: 50%;
          text-align: center;
          margin-left: 60px;
        }
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: $black;
    margin-bottom: 30px;
    @include mobile {
      display: none;
    }
  }
}

.transactionsSection {
  @include container;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tabletAndDesktop {
    justify-content: center;

    .table-Container {
      width: 95%;
    }
    .graphic {
      width: 90%;
    }
  }

  @include mobile {
    margin-top: 30px;
    justify-content: center;

    h1 {
      line-height: 1.2;
    }

    .table-Container {
      width: 98%;
      table {
        font-size: 0.75rem;
      }
    }
    .graphic {
      width: 100%;
    }
  }
}

.searchTransactions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  h1 {
    font-size: 1.75rem;
    color: $black;
  }
  input {
    padding: 6px;
    background: #ffffff;
    border: 1px solid $white;
    border-radius: 5px;
    outline: none;
  }
}

.table-Container {
  width: 500px;

  table,
  th,
  td {
    // border: 1px solid $black;
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  table {
    width: 100%;

    thead {
      border-radius: 5px;

      th {
        background: #040d12;
        color: $white;
        margin-right: 5px;
      }
    }

    tbody {
      border-radius: 5px;

      tr {
        border-bottom: 4px solid $gray;
        border-top: 4px solid $gray;
        td {
          background: $white;
          &:last-child {
            background: $gray;
            padding: 5px;
            opacity: 0;
            transition: opacity 0.6s;
            cursor: pointer;
          }
        }
        &:hover {
          td {
            &:last-child {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.graphic {
  width: 650px;
  h1 {
    margin-bottom: 12px;
  }
  canvas {
    background: $white;
    border-radius: 8px;
  }
}

.containerModal {
  display: none;
}
.containerModal.active {
  display: flex;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  justify-content: center;
  align-items: center;

  .modal-Content {
    width: 500px;
    background: #f0eeee;
    padding: 30px;
    position: relative;
    border-radius: 8px;
    @include mobile {
      padding: 20px;
      width: 85%;
      h1 {
        font-size: 1.75rem;
      }
    }
    h1 {
      color: $black;
      text-align: center;
      margin-bottom: 30px;
    }

    .closeModal {
      position: absolute;
      right: -10px;
      top: -10px;
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 50%;
      background: $black;
      color: white;
      cursor: pointer;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

      &:hover {
        background: #30302d;
      }
    }

    form {
      label {
        color: $black;
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
      }
      input,
      select {
        background: $white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        outline: none;
        border: none;
      }

      option {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        padding: 5px;
      }

      #valor,
      #data,
      #type,
      #titulo {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        &::placeholder {
          color: $black;
        }
      }

      #type {
        width: 25%;
      }

      #titulo {
        width: 90%;
      }

      #valor {
        width: 55%;
      }

      #data {
        width: 35%;
        margin-bottom: 20px;
      }

      button {
        width: 40%;
        display: block;
        @include button;
        background: $black;
        color: $white;
        margin: 0 auto;
        padding: 10px 20px;
        box-shadow: none;

        &:hover {
          background: #30302d;
        }
      }
    }
  }
}
